.page{
  min-height: 100vh;
}

a.hidden-chapter {
  text-decoration: none !important;
  color: #cecece;

}

ul {list-style-type: none;}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
  line-height: inherit !important;
  font-family: SourceCode !important;
}

@font-face {
  font-family: SourceCode;
  src: url("../fonts/source-code-regular.otf") format("opentype");
}
@font-face {
  font-family: Raleway;
  src: url("../fonts/raleway-light.ttf") format("opentype");
}

.lesson-lines{
  font-size: 1.5em;
  margin: 0;
}

.even-line{
  background-color: #f9f9f9;
}

body{
  font-family: Raleway;
  color: #656565;
}

.lesson-link{
  background-color: #ffffff;
}

.current-lesson-link{
  background-color: #f4f4f4;
}

a, a:visited {
  color: #656565 !important;
}

a:hover, a:active {
  color: #656565 !important;
}