<!DOCTYPE html>
<html>
<head>
    <title>nglarily</title>
    <meta name="keywords" content="javascript, angularjs, jquery, html5, css3, template"/>
    <meta name="description" content="A sample angularjs app."/>
    <meta charset="utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.2.0/codemirror.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.2.0/codemirror.js"></script>

    <!-- code mirror modes for mixed html(dependent on xml, css and js modes -->
    <script src="https://cdn.rawgit.com/codemirror/CodeMirror/master/mode/xml/xml.js"></script>
    <script src="https://cdn.rawgit.com/codemirror/CodeMirror/master/mode/css/css.js"></script>
    <script src="https://cdn.rawgit.com/codemirror/CodeMirror/master/mode/javascript/javascript.js"></script>
    <script src="https://cdn.rawgit.com/codemirror/CodeMirror/master/mode/htmlmixed/htmlmixed.js"></script>

    <script src="app/editor.js"></script>
    <script src="app/book-editor.js"></script>
    <script src="app/models.js"></script>
    <style type="text/css">
        #chapets-editor{
            background-color: #cecece;
        }
    </style>
</head>

<body ng-app="book-editor"> 
<div ng-controller="BookEditor" class="container">

    <form class="form-group well" id="edit-book-form">
        <input type="text"
               ng-model="book.name"
               class="form-control form-group">

        <div class="input-group form-group">
            <input type="text"
                   ng-model="newChapter"
                   class="form-control"/>
            <span class="input-group-addon"
                  ng-click="addChapter()">+</span>
        </div>
    </form>

    <form
            id="chapets-editor"
            class="form-group well"
            ng-repeat="chapter in book.chapters">
        <input type="text"
               ng-model="chapter.name"
               class="form-control form-group edit-chapter">

        <ul>
        <li class="chapter-lessons-list" ng-repeat="lesson in chapter.lessons">
            <input type="text"
                   ng-model="lesson.name"
                   class="form-control form-group edit-chapter">
        </li>
        </ul>
    </form>



</div>
</body>

</html>