<div class="page container book">
    <p class="row">Your last angular guide</p>
    <ol id="guide-contents">        <li class="row" ng-repeat="chapter in guide.chapters">

            <a class="row" ui-sref="chapter({chapter: chapter.name})">{{chapter.name}}</a>
            <ul>
                <li ng-repeat="lesson in chapter.lessons">
                    <a ui-sref="chapter.lesson({chapter: chapter.name, lesson: lesson.name})"> {{lesson.name}}</a>
                </li>
            </ul>
        </li>
    </ol>
</div>