<div ui-view >
    <!-- chapters are rendered here. -->
</div>

<div class="book container page">
    <h1 class="book-name row">{{book.name}}</h1>

    <!--chapters-->
    <div class="chapter-item row" ng-repeat="chapter in book.chapters">
        <a class="chapter-link" ui-sref="book.chapter({chapter: chapter.name})">{{chapter.name}}</a>

        <!--lessons-->
        <ul class="lessons list-group">
            <li class="lesson list-group-item" ng-repeat="lesson in chapter.lessons">
                <a ui-sref="book.chapter.lesson({chapter: chapter.name, lesson: lesson.name})"> {{lesson.name}}</a>
            </li>
        </ul>

    </div>
</div>
