<div id="home-page" class="page container">
    <p class="row">Your last angular guide</p>
    <ol id="guide-contents">        <li class="row" ng-repeat="chapter in guide.tutorials">

            <a class="row" ui-sref="chapter({chapter: chapter.name})">{{chapter.name}}</a>
            <ul>
                <li ng-repeat="step in chapter.steps">
                    <a ui-sref="chapter.step({chapter: chapter.name, step: step.name})"> {{step.name}}</a>
                </li>
            </ul>
        </li>
    </ol>
</div>