<div id="home-page" class="page container">
    <p class="row">Your last angular guide</p>
    <ol id="guide-contents">        <li class="row" ng-repeat="tutorial in guide.tutorials">

            <a class="row" ui-sref="tutorial({name: tutorial.name})">{{tutorial.name}}</a>
            <ul>
                <li ng-repeat="step in tutorial.steps">
                    <a ui-sref="tutorial.step({tutorial: tutorial.name, step: step.name})"> {{step.name}}</a>
                </li>
            </ul>
        </li>
    </ol>
</div>